<div class="list-card action">

  <div class="title-home pt-4 px-4 pb-2 d-flex justify-content-between align-items-center">
    <h4 class="mb-0">New task</h4>
    <p class="date mb-0 mt-2">{{currentDate}}</p>
  </div>

    <form action="/add" method="POST">
      <div class="action-form p-4">
          <div class="form-control">
            <label for="title">name:</label>
            <input type="text" name="title" class="border-bottom" placeholder="to-do">
          </div>
          <div class="form-control">
            <label for="description">description:</label>
            <textarea class="border-bottom" type="text" name="description" placeholder="what are you going to do?"></textarea>
          </div>
      </div>
</div>
      <button type="submit" value="add" class="btn action-btn d-flex justify-content-center"><i class="fa-solid fa-check"></i></button>
    </form>