 <head>
    <link rel="stylesheet" href="../public/styles.css">
</head>


<div class="list-card action">

    <div class="title-home pt-4 px-4 pb-2 d-flex justify-content-between align-items-center">
        <h4 class="mb-0">My task</h4>
        <p class="date mb-0 mt-2">{{currentDate}}</p>
    </div>

    <div class="p-4 show">
        <div class="border-bottom">
            <h6 class="mb-0 task">title:</h6>
            <p>{{task.title}}</p>
        </div>
        <h6 class="mb-0 mt-3 task">description:</h6>
        <p>{{task.description}}</p>
    </div>
</div>

<a href="/" class="back-btn"><i class="fa-solid fa-rotate-left"></i></a>